.lady-ann-email {
    min-height: calc(100vh - 220px);
    max-width: 900px;
    margin: 50px auto;
}

.email_sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

.lady-ann-to {
    margin-top: 20px;
    font-style: italic;
}

.email_sub-container h3 {
    text-align: left;
    font-style: italic;
}

.email_sub-container input {
    width: 65%;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
}

.email_sub-container textarea {
    width: 65%;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
}

.button-container {
    margin-top: 50px;
}

.button-container button {
    padding: 20px 25px;
    background-color: #fff;
    border: 1px solid var(--blue);
    color: #333;
    border-radius: 5px;
    box-shadow: 2px 3px 3px #d3d3d3;
    font-size: 16px;
    letter-spacing: 3px;
    transition: all 0.4s;
    font-weight: 500;
    width: 100%;
}

.button-container button:hover {
    background-color: var(--blue);
    color: #fff;
}

.lady-ann-logo2-container {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.lady-ann-logo2 {
    width: 150px;
    height: 150px;
}

@media (max-width: 600px) {
    .lady-ann-logo2 {
        width: 100px;
        height: 100px;
    }
}
