@import url("https://fonts.googleapis.com/css?family=Lora");

@font-face {
    font-family: "Marat";
    src: url("./fonts/MaratPro-Regular.otf");
}

@font-face {
    font-family: "Kievit";
    src: url("./fonts/Kievit_Bold.ttf");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;
    background-color: var(--body-background);
    color: var(--font-color);
}

:root {
    --body-background: #edf0f1;
    --navbar-background: #fff;
    --second-font-color: #333333;
    --third-font: #788289;
    --secondary-highlights: #ea8b88;
    --blue: #1b75bc;
    --yellow: #fbb040;
    --red: #ef4136;
    --light-brown: #c59575;
    --medium-brown: #a06232;
    --dark-brown: #7d4e24;
    --font-color: #1f2b38;
}

.App {
    text-align: center;
    min-height: 100vh;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fa,
.fas:hover {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: "Marat";
}
input::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Marat";
}
input:-ms-input-placeholder {
    /* IE 10+ */
    font-family: "Marat";
}
input:-moz-placeholder {
    /* Firefox 18- */
    font-family: "Marat";
}

textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: "Marat";
}
textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Marat";
}
textarea:-ms-input-placeholder {
    /* IE 10+ */
    font-family: "Marat";
}
textarea:-moz-placeholder {
    /* Firefox 18- */
    font-family: "Marat";
}
